---
import Layout from "@layouts/Layout.astro"
---

<Layout title="dashboard">
  <section>
    <header>
      <h1 class="text-center">Dashboard</h1>
      <h2>To do :)</h2>
    </header>
  </section>
</Layout>
